section {
  background-color: #41bf9c;
}

.title h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

.left-line,
.right-line {
  display: inline-block;
  vertical-align: middle;
  width: 6.25rem;
  height: 0.3125rem;
  background-color: #fff;
}
