<section>
  <div class="container vh-100 d-flex justify-content-center align-items-center  text-white">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="title text-center">
        <h2 class="text-uppercase">about component</h2>
        <div class="icon mb-2 text-center">
          <span class="left-line"></span>
          <i class="fa-solid fa-star mx-4"></i>
          <span class="right-line"></span>
        </div>
      </div>
      <div class="inner col-md-12 d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 px-4">
        <p class="col-md-6">
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
        <p class="col-md-6">
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>