<section id="contact" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4 font-weight-bold">CONTACT SECTION</h2>
    <div class="icon mb-2 text-center">
      <span class="left-line"></span>
      <i class="fa-solid fa-star mx-4"></i>
      <span class="right-line"></span>
    </div>
    <form class="mt-4">

      <div class="mb-4 position-relative input-container">
        <input type="text" class="form-input position-relative z-2" id="raisLabel" placeholder="User Name" />
        <label for="raisLabel" class="form-label position-absolute">User Name:</label>
      </div>

      <div class="mb-4 position-relative input-container">
        <input type="number" class="form-input position-relative z-2" id="raisLabel" placeholder="User Age" />
        <label for="raisLabel" class="form-label position-absolute">User Age:</label>
      </div>

      <div class="mb-4 position-relative input-container">
        <input type="email" class="form-input position-relative z-2" id="raisLabel" placeholder="User E-mail" />
        <label for="raisLabel" class="form-label position-absolute">User E-mail:</label>
      </div>

      <div class="mb-4 position-relative input-container">
        <input type="password" class="form-input position-relative z-2" id="raisLabel" placeholder="User Password" />
        <label for="raisLabel" class="form-label position-absolute">User Password:</label>
      </div>

      <div class="mb-4 position-relative input-container">
        <textarea rows="5" class="form-input position-relative z-2" id="raisLabel2" placeholder="Message"></textarea>
        <label for="raisLabel" class="form-label position-absolute">Message:</label>
      </div>

      <button type="submit" class="btn btn-success btn-block">Send Message</button>
    </form>
  </div>
</section>