<section>
  <div class="container">
    <div class="row vh-100 d-flex justify-content-center align-items-center text-center">
      <div class="col-md-12 d-flex justify-content-center align-items-center text-center">
        <div class="inner">
          <figure>
            <img src="/images/avataaars.aa9aff02ddd0ef36a1724ecef4133df9.svg" alt="Profile Avatar"
              class="rounded-circle mb-3 w-75">
            <figcaption class="text-white">
              <h2 class="title">START FRAMEWORK</h2>
              <div class="icon mb-2">
                <span class="left-line"></span>
                <i class="fa-solid fa-star mx-4"></i>
                <span class="right-line"></span>
              </div>
              <p class="desc">Graphic Artist - Web Designer - Illustrator</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>